# 第2章: UNIXコマンド
popular-names.txtは，アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，popular-names.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

### プログラム

In [41]:
import pandas as pd

df = pd.read_csv('./data/popular-names.txt', delimiter='\t', header=None)
count = len(df.index)

In [42]:
print(count)

2780

### UNIXコマンド

In [8]:
!wc -l ./data/popular-names.txt

    2780 ./data/popular-names.txt

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

### プログラム

In [2]:
import pandas as pd

df = pd.read_csv('./data/popular-names.txt', delimiter='\t', header=None)
df.to_csv('./output/popular-names-space.txt', sep=' ', index=False, header=None)

In [9]:
df.head(3)

      0  1     2     3
0  Mary  F  7065  1880
1  Anna  F  2604  1880
2  Emma  F  2003  1880

### UNIXコマンド

In [10]:
!sed -e $'s/\t/ /g' ./data/popular-names.txt > ./output/popular-names-space.txt
!head -3 ./output/popular-names-space.txt

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

### プログラム

In [15]:
df = pd.read_csv('./data/popular-names.txt', delimiter='\t', header=None)
df[0].to_csv('./output/col1.txt', index=False, header=None)
df[1].to_csv('./output/col2.txt', index=False, header=None)

In [20]:
df[0].head(3)

0    Mary
1    Anna
2    Emma
Name: 0, dtype: object

In [21]:
df[1].head(3)

0    F
1    F
2    F
Name: 1, dtype: object

### UNIXコマンド

In [27]:
!cut -f 1 ./data/popular-names.txt > ./output/col1.txt
!cut -f 2 ./data/popular-names.txt > ./output/col2.txt
!head -3 ./output/col1.txt
!head -3 ./output/col2.txt

Mary
Anna
Emma
F
F
F

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

### プログラム

In [23]:
df1 = pd.read_csv('./output/col1.txt', header=None)
df2 = pd.read_csv('./output/col2.txt', header=None)
df_concat = pd.concat([df1, df2], axis=1)
df_concat.to_csv('./output/col3.txt', sep='\t', index=False, header=None)

In [26]:
df_concat.head(3)

      0  0
0  Mary  F
1  Anna  F
2  Emma  F

### UNIXコマンド

In [28]:
!paste ./output/col1.txt ./output/col2.txt > ./output/col3.txt
!head -3 ./output/col3.txt

Mary	F
Anna	F
Emma	F

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

### プログラム

In [31]:
n = int(input())
df = pd.read_csv('./data/popular-names.txt', delimiter='\t', header=None)
df.head(n)

 3

      0  1     2     3
0  Mary  F  7065  1880
1  Anna  F  2604  1880
2  Emma  F  2003  1880

In [ ]:
df

### UNIXコマンド

In [33]:
!head -3 ./data/popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

### プログラム

In [58]:
n = int(input())
df = pd.read_csv('./data/popular-names.txt', delimiter='\t', header=None)
df = df.tail(n)

 3

In [60]:
df

          0  1      2     3
2777  Lucas  M  12585  2018
2778  Mason  M  12435  2018
2779  Logan  M  12352  2018

### UNIXコマンド

In [36]:
!tail -3 ./data/popular-names.txt

Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

### プログラム

In [40]:
n = int(input())
df = pd.read_csv('./data/popular-names.txt', delimiter='\t', header=None)
for i in range(1, len(df) // n + 1):
    df[n*i:n*i+n:].to_csv('./output/popular-names' + str(i) + '.txt', index=False, header=None)

 500

### UNIXコマンド

In [39]:
!split -l 500 ./data/popular-names.txt ./output/popular-names-

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

### プログラム

In [44]:
df = pd.read_csv('./data/popular-names.txt', delimiter='\t', header=None)
name_set = set(list(df[0]))

In [45]:
print(name_set)

{'Debra', 'David', 'Madison', 'Emma', 'Lauren', 'James', 'Marie', 'Isabella', 'Nicholas', 'Steven', 'William', 'Ava', 'Jayden', 'Noah', 'Mark', 'Harry', 'Frank', 'Justin', 'Amelia', 'Margaret', 'Kimberly', 'Daniel', 'Sophia', 'Olivia', 'Hannah', 'Shirley', 'Michelle', 'Robert', 'Alexis', 'Jason', 'Abigail', 'Jeffrey', 'Tracy', 'Kelly', 'Lillian', 'Donald', 'Nicole', 'Taylor', 'Clara', 'Angela', 'Scott', 'Ruth', 'Cynthia', 'Minnie', 'Charles', 'Bessie', 'Gary', 'Tyler', 'Andrew', 'Mason', 'Emily', 'Anthony', 'Oliver', 'Crystal', 'Logan', 'Julie', 'Matthew', 'Lisa', 'Alice', 'Barbara', 'Melissa', 'Mary', 'Joshua', 'Doris', 'Liam', 'Elizabeth', 'Alexander', 'Carol', 'Evelyn', 'Lucas', 'Ronald', 'Megan', 'George', 'Susan', 'Lori', 'Bertha', 'Nancy', 'Heather', 'Tammy', 'Chloe', 'Ida', 'John', 'Annie', 'Pamela', 'Betty', 'Donna', 'Carolyn', 'Kathleen', 'Michael', 'Jessica', 'Thomas', 'Mildred', 'Sandra', 'Stephanie', 'Elijah', 'Virginia', 'Judith', 'Joan', 'Brandon', 'Rachel', 'Walter', 'Harper', 'Karen', 'Samantha', 'Charlotte', 'Christopher', 'Anna', 'Rebecca', 'Helen', 'Benjamin', 'Richard', 'Larry', 'Austin', 'Sarah', 'Henry', 'Patricia', 'Ashley', 'Jacob', 'Sharon', 'Joseph', 'Jennifer', 'Ethel', 'Amanda', 'Ethan', 'Amy', 'Aiden', 'Edward', 'Dorothy', 'Frances', 'Linda', 'Deborah', 'Laura', 'Brittany', 'Mia', 'Florence', 'Brian'}

### UNIXコマンド

In [41]:
!cut -f 1 ./data/popular-names.txt | sort | uniq

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela
Anna
Annie
Anthony
Ashley
Austin
Ava
Barbara
Benjamin
Bertha
Bessie
Betty
Brandon
Brian
Brittany
Carol
Carolyn
Charles
Charlotte
Chloe
Christopher
Clara
Crystal
Cynthia
Daniel
David
Deborah
Debra
Donald
Donna
Doris
Dorothy
Edward
Elijah
Elizabeth
Emily
Emma
Ethan
Ethel
Evelyn
Florence
Frances
Frank
Gary
George
Hannah
Harper
Harry
Heather
Helen
Henry
Ida
Isabella
Jacob
James
Jason
Jayden
Jeffrey
Jennifer
Jessica
Joan
John
Joseph
Joshua
Judith
Julie
Justin
Karen
Kathleen
Kelly
Kimberly
Larry
Laura
Lauren
Liam
Lillian
Linda
Lisa
Logan
Lori
Lucas
Madison
Margaret
Marie
Mark
Mary
Mason
Matthew
Megan
Melissa
Mia
Michael
Michelle
Mildred
Minnie
Nancy
Nicholas
Nicole
Noah
Oliver
Olivia
Pamela
Patricia
Rachel
Rebecca
Richard
Robert
Ronald
Ruth
Samantha
Sandra
Sarah
Scott
Sharon
Shirley
Sophia
Stephanie
Steven
Susan
Tammy
Taylor
Thomas
Tracy
Tyler
Virginia
Walter
William

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

### プログラム

In [56]:
df = pd.read_csv('./data/popular-names.txt', delimiter='\t', header=None)
df = df.sort_values(2, ascending=False)

In [57]:
print(df)

            0  1      2     3
1340    Linda  F  99689  1947
1360    Linda  F  96211  1948
1350    James  M  94757  1947
1550  Michael  M  92704  1957
1351   Robert  M  91640  1947
...       ... ..    ...   ...
27      Annie  F   1326  1881
28     Bertha  F   1324  1881
8      Bertha  F   1320  1880
29      Alice  F   1308  1881
9       Sarah  F   1288  1880

[2780 rows x 4 columns]

### UNIXコマンド

In [49]:
!sort -n -r -k 3 ./data/popular-names.txt | head -10

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954
sort: Broken pipe

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

### プログラム

In [71]:
df = pd.read_csv('./data/popular-names.txt', delimiter='\t', header=None)
df = df[0].sort_values(0, ascending=True).value_counts()

In [72]:
df

James      118
William    111
Robert     108
John       108
Mary        92
          ...
Lori         1
Lucas        1
Julie        1
Crystal      1
Tracy        1
Name: 0, Length: 136, dtype: int64

### UNIXコマンド

In [64]:
!cut -f 1 popular-names.txt | sort | uniq -c | sort -n -r -k 1 | head -10

 118 James
 111 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth
  70 Joseph
  60 Margaret